body {
  background: #ffffff;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.container {
  width: 70%;
}

.btn-pink {
  background: #E03B65;
  border-radius: 20px;
  color: #fff;
  padding: 10px 20px;
}
.btn-pink:hover {
  color: white;
  background: #802a3f;
}

header {
  padding: 30px 0;
}
header .logo {
  display: flex;
  justify-content: center;
}

main {
  margin-bottom: 40px;
}
main section.section-description div h1.section-title {
  font-size: 1.8em;
  color: #000;
  font-weight: bold;
  text-align: center;
}
main section.section-description div article {
  box-sizing: border-box;
  padding: 0 80px;
}
main section.section-description div article p {
  color: #737172;
  text-align: center;
}
main section.section-form div form {
  background: #fff;
  padding: 50px 40px 10px 40px;
  border-radius: 20px;
  box-shadow: 1px 3px 10px 0px #c0bebe;
}
main section.section-form div form label {
  font-weight: bold;
  color: #000;
}
main section.section-form div form input {
  opacity: 0.5;
}

@media screen and (max-width: 6240px) {
  main section.section-description div article {
    padding: 0 20px;
  }
}
@media screen and (max-width: 400px) {
  .container {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
